@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

.grid-bg {
  background-image:
    linear-gradient(to right, #111111 4px, transparent 4px),
    linear-gradient(to bottom, #111111 4px, transparent 4px);
  background-size: 40px 40px;
}

.color-picker-gradients {
  background-image:
    linear-gradient(to top, black, transparent),
    linear-gradient(to right, white, transparent);
}

.rainbow-gradient {
  background-image: linear-gradient(to right, #ff0000, #ffff00, #00ff00, #00ffff, #0000ff, #ff00ff, #ff0000);
}