@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

.grid-bg {
  background-image:
    linear-gradient(to right, #111111 4px, transparent 4px),
    linear-gradient(to bottom, #111111 4px, transparent 4px);
  background-size: 40px 40px;
}